<div id="about" class="span-24 section_content">
  <div class="section_label_background span-24">
    <h2 class="section_label"><span>About</span></h2>

    <div id="about_intro" class="prepend-1 span-15 colborder">
      <h2>Programmer extraordinaire</h2>
      <p>I'm a 24-year-old programmer extraordinaire residing in Calgary,
      Canada. I specialize in building polished and secure Web sites using
      DJango and jQuery, though I also work with numerous other languages
      and frameworks, including PHP and Ruby on Rails. My programming
      acumen is equalled only by my Linux and BSD sysadmin skills, which
      garner considerable respect on the streets.</p>
    </div>

    <div id="about_tidbits" class="span-7 last">
      <div class="triggers">
        <div class="trigger active"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
      </div>

      <div id="about_tidbits_viewport">
        <div id="about_tidbits_container">
          <div class="about_tidbit">
            <h3>I have a painstaking eye for detail.</h3>
            <p>Computers are fussy about the little things, and as someone who
            speaks their language, so am I. When you work with me, you can rest
            easy knowing that every i will be dotted and every t crossed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
