<div id="about" class="span-24 section_content">
  <div class="section_label_background span-24">
    <h2 class="section_label"><span>About</span></h2>

    <div id="about_intro" class="prepend-1 span-15 colborder">
      <h2>Programmer extraordinaire</h2>
      <p>I'm a 24-year-old programmer extraordinaire residing in Calgary,
      Canada. I specialize in building polished and secure Web sites using
      DJango and jQuery, though I also work with numerous other languages
      and frameworks, including PHP and Ruby on Rails. My programming
      acumen is equalled only by my Linux and BSD sysadmin skills, which
      garner considerable respect on the streets.</p>
    </div>

    <div id="about_tidbits" class="span-7 last">
      <div class="triggers">
        <div class="trigger active"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
      </div>

      <div id="about_tidbits_viewport">
        <div id="about_tidbits_container">
          <div class="about_tidbit">
            <h3>I have a painstaking eye for detail.</h3>
            <p>Computers are fussy about the little things, and as someone who
            speaks their language, so am I. When you work with me, you can rest
            easy knowing that every important detail will be meticulously
            massaged until it's just right.</p>
          </div>

          <div class="about_tidbit">
            <h3>I'm pragmatic.</h3>
            <p>Though I strive for technical perfection, I understand that my
            code's purpose is to serve your wider goals. After all, my work is
            at its best when your user never notices it.</p>
          </div>

          <div class="about_tidbit">
            <h3>My sysadmin-fu is strong.</h3>
            <p>I've administered a small cluster of Linux systems through the
            last six years, running Gentoo, Arch, Debian, and Ubuntu, in
            addition to an OpenBSD firewall. I've deployed technologies
            including Xen, Apache, lighttpd, nginx, Django, Ruby on Rails, PHP,
            PostgreSQL, Dovecot, Postfix, Pure-FTPd, vsftpd, TeamSpeak, and
            PF.</p>
          </div>

          <div class="about_tidbit">
            <h3>I build secure systems.</h3>
            <p>Nothing strikes fear into my heart quite like the notion of a
            coding or configuration error leading to a security breach. Only by
            focussing on security at every stage of development can I sleep
            soundly through the night.</p>
          </div>

          <div class="about_tidbit">
            <h3>I learn new things quickly.</h3>
            <p>Software developers must continually adapt to new technologies.
            If I must reach outside my existing skillset to create the best
            possible result, I will promptly learn what I need to know, then
            immediately put it into practice.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
