<div id="contact" class="span-24 section_content">
  <div class="section_label_background">
    <h2 class="section_label"><span>About</span></h2>

    <div id="contact_form" class="prepend-2 span-15 colborder">
      <h2 class="clearfix">Contact Me</h2>

      <form method="post" action="">
        <div class="field">
          <div class="label_and_error">
            <label for="name_input">Your name:</label>
            <div class="status">Oh, dear.</div>
          </div>
          <input name="name" id="name_input" type="text" />
        </div>

        <div class="field">
          <div class="label_and_error">
            <label for="email_input">Your e-mail:</label>
            <div class="status"></div>
          </div>
          <input name="email" id="email_input" type="text" />
        </div>

        <textarea id="message_input" class="span-15"></textarea>

        <input type="submit" value="Send your message" />
      </form>
    </div>

    <div id="contact_misc" class="span-6 last">
      <h3>Don't be shy</h3>
      <p>Reach out and touch me today. I promise I won't scream.</p>
    </div>
  </div>
</div>
