{% extends "base.html" %}

{% block additional_css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" media="screen, projection" />
{% endblock %}

{% block content %}
  <div class="section first">
    <!-- Blueprint's grid.css demands that this div be given a class of
    "container," not an ID of same. -->
    <div class="container">
      {% include "home/_about.html" %}
    </div>
  </div>

  <div class="section">
    <div class="container">
      {% include "home/_work.html" %}
    </div>
  </div>

  <div class="section">
    <div class="container">
      {% include "home/_contact.html" %}
    </div>
  </div>
{% endblock %}
