import os

# This setting ought to be in settings.py, as the user ought not to need to
# change its value, but we require its value to determine whether to set
# GOOGLE_ANALYTICS_ACCOUNT, which definitely belongs in this file.
DEBUG = os.environ['SERVER_SOFTWARE'].lower().startswith('dev')

if not DEBUG:
  GOOGLE_ANALYTICS_ACCOUNT = 'UA-99999999-9'

ADMINS = (
  ('Jeff', 'jeff@example.org'),
)

CONTACT = {
  'to':   'contact@example.org',
  # Must be registered admin of application. See
  # http://code.google.com/appengine/docs/python/mail/sendingmail.html.
  'from': 'admin@example.org',
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'If I had a secret, I would whisper it in your ear.'

SITE_NAME = 'Jeff Wintersinger, Esq.'
