{% extends "blog/base.html" %}
{% load markup %}
{% block title %}{{ post.title }}{% endblock %}

{% block blog_content %}
  {% comment %}
    div#post_container is needed to specify the Blueprint classes. If those
    classes are directly applied to div.post, the prepend-1 will cause the date
    to be positioned excessively far outside div.post.
  {% endcomment %}
  <div id="post_container" class="prepend-1 span-10 colborder">
    <div class="post">
      <h1 class="title">{{ post.title }}</h1>

      <div class="body">
        {{ post.body|safe|markdown }}
      </div>

      {% include "blog/_posted_at.html" %}

      <div class="metadata">
        {% include "blog/_post_tag_list.html" %}
      </div>
    </div>
  </div>
{% endblock %}
