{% extends "blog/base.html" %}
{% load blog_misc %}
{% block title %}Archive{% endblock %}

{% block blog_content %}
  <div id="post_archive" class="prepend-1 span-10 colborder">
    {% if tag %}
      <h1 class="category">Posts in <em>{{ tag }}</em></h1>
    {% endif %}

    {% regroup posts by created_at.month as posts_by_month %}
    <dl>
    {% for month in posts_by_month %}
      <dt>{{ month.grouper|int_to_month_name }} {{ month.list.0.created_at|date:"Y" }}</dt>
      {% for post in month.list %}
      <dd>
        {{ post.created_at|date:"F jS" }}:
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </dd>
      {% endfor %}
    {% empty %}
      <p>No posts{% if tag %} in category {{ tag }} {% endif %}.</p>
    {% endfor %}
    </dl>
  </div>
{% endblock %}
