{% extends "blog/base.html" %}
{% load markup %}
{% block title %}Blog{{ block.super }}{% endblock %}

{% block blog_content %}
  <div id="posts" class="prepend-1 span-10 colborder">
  {% for post in paginated_posts.object_list %}
    <div class="post">
      <h1 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>

      <div class="body">
        {{ post.body|safe|markdown|truncatewords_html:40 }}
      </div>

      {% include "blog/_posted_at.html" %}

      <div class="metadata">
        <span class="read_more button"><a href="{{ post.get_absolute_url }}">Read more</a></span>
        {% include "blog/_post_tag_list.html" %}
      </div>
    </div>
  {% endfor %}

    <div class="page_nav">
    {% if posts.has_previous %}
      <span class="button"><a href="{% url blog.views.post_list page=posts.previous_page_number %}">Previous</a></span>
    {% endif %}
    {% if posts.has_next %}
      <span class="button"><a href="{% url blog.views.post_list page=posts.next_page_number %}">Next</a></span>
    {% endif %}
    </div>
  </div>
{% endblock %}
